body {
  font-family: Roboto, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
}

.header,
.design,
.work {
  background: #EEEFF1;
}

.menu-link+.menu-link {
  margin-left: 40px;
}

.menu-link {
  margin-top: 80px;
  margin-bottom: 80px;
  display: inline-block;
}

.header-link {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.header-link:hover {
  color: #34547A;
  font-weight: 500;
}

.design {
  padding: 70px 0 140px;
}

.design-title {
  padding-bottom: 60px;
  font-size: 48px;
  font-weight: 500;
}

.design-text {
  padding-bottom: 65px;
  width: 540px;
  color: #727272;
  line-height: 26px;
}

.btn {
  width: 225px;
  height: 65px;
  color: #fff;
  text-transform: uppercase;
  background-color: #34547A;
  border: none;
  cursor: pointer;
}

.about-content,
.work-content {
  padding: 100px 0;
  text-align: center;
}

.about-title,
.work-title {
  padding-bottom: 50px;
  font-size: 32px;
  font-weight: 500;
}

.about-text,
.work-text {
  display: inline-block;
  width: 540px;
  color: #727272;
  line-height: 26px;
}

.projects {
  background: #34547A;
}

.projects-items {
  display: flex;
  justify-content: space-between;
}

.projects-item {
  position: relative;
  margin: 100px 0;
  padding-left: 70px;
  color: #fff;
}

.projects-item::before {
  background-image: url('../images/project.svg');
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 50px;
  height: 50px;
}

.projects-title {
  padding-bottom: 8px;
  font-size: 21px;
  font-weight: 500;
}

.work-text {
  padding-bottom: 57px;
}

.footer {
  background: #34547A;
}

.footer-content {
  padding: 50px 0;
  color: #fff;
}

.footer-title {
  padding-bottom: 20px;
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
}

.footer-copy {
  font-size: 13px;
  line-height: 21px;
}